@model BLL.DTO.GroupJoinRequests

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GroupJoinRequests</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyGroups)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyGroups!.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderUser!.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
